@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


html,body {
    margin: 0;
    font-size: 28px;
    background-color: hsl(218, 23%, 16%);
    width: 1440px;
    font-family: "Manrope";
}

main {
    display: flex;
    justify-content: center;
}

#card {
    padding: 1%;
    margin-top: 12%;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    width: 499;
    height: 268;
    border-radius: 5px;box-shadow: rgba(78, 78, 82, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card h4 {
    color: hsl(193, 38%, 86%);
    margin: 0% 5% 5% 5%;
    word-wrap: break-word;
    overflow: hidden;
}

#card p {
    display: flex;
    flex-wrap: wrap;
    color: hsl(150, 100%, 66%);
    font-weight: 100;
    margin-bottom: 0;
    font-size: 0.8rem;
    align-self: center;
}

#dice {
    width: 50%;
    height: 50%;
    align-self: center;
}

#dice_container {
    background-color: hsl(150, 100%, 66%);
    width:15%;
    height: 60px;
    transform: translateY(70%);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    transition: all 500ms ease;
}

#dice_container:hover {
    background-color: hsl(150, 85%, 68%);
    box-shadow: hsl(150, 100%, 66%) 0px 4px 55px, rgba(0, 0, 0, 0.12) 0px 12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px 0px 0px;

}

@media only screen and (min-device-width: 375px) and (max-device-width: 850px)  {
    main {
        margin-left: 20%;
    }
    #card {
        padding: 0;
        margin: 20% 1% 0% -25%;
        align-items: center;
        width: 100dvw;
        height: 400px;
    }
}

@media only screen and (max-device-width: 375px) {
    html,body {
        font-size: 28px;
        width: 375px;
    }
    main {
        margin-left: 20%;
    }
    #card {
        padding: 0;
        margin: 20% 1% 0% -25%;
        align-items: center;
        width: 90dvw;
        height: 250px;
    }
    #card h4 {
        color: hsl(193, 38%, 86%);
        margin: 0% 5% 5% 5%;
        word-wrap: break-word;
        overflow: hidden;
        font-size: 0.5rem;
    }
    #card p {
        display: flex;
        flex-wrap: wrap;
        color: hsl(150, 100%, 66%);
        font-weight:100;
        margin-bottom: 0;
        font-size: 0.5rem;
        align-self: center;
}

    #dice_container {
        background-color: hsl(150, 100%, 66%);
        width:15%;
        height: 40px;
        transform: translateY(140%);
        display: flex;
        justify-content: center;
        border-radius: 50%;
    }

    #card img {
        width: 70%;
        height: 20px;
    }
}